    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
        <tr>
          <th scope="col">Id</th>
		  <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
          <th scope="col">Fec. Nacimiento</th>          
        </tr>
      </thead>
      <tbody>
        
        <!-- Listamos los datos mediante la directiva ngFor -->        
        <tr *ngFor="let dato of Dato">
          <th>{{dato.$key}}</th>
		  <th>{{dato.nombre}}</th>
          <td>{{dato.apellido}}</td>
          <td>{{dato.edad}}</td>
          <td>{{dato.fechaNacimiento}}</td>          
        </tr>
 
      </tbody>
    </table>
	
	<h1 class="mb-3"> {{ title }} </h1>
	<div class="epmd" *ngIf="isValid">
 	<p>"Haz clic en el botón <strong>Listar Datos</strong> para mostrar los datos desde Firebase Database" <img src="../assets/ifb.png" width="3%"> </p>
 	<a href="#listar-datos" class="btn btn-primary mb-3" (click)="check(false)">Listar Datos</a>
 
</div>
 
<router-outlet></router-outlet>
